application/config/database.php
application/config/config.php
application/cache
application/session/*
assignments/*

!assignments/.htaccess
!assignments/index.html
!application/session/.htaccess
!application/session/index.html
