#editor {
    min-height: 150px;
    height: 100%;
    flex: 1 1 auto;
}
.template{
    flex: 1 1 auto;
}

.template-grp{
    min-height: 40px;
    max-height: 130px;

    display: flex;
    flex-flow: column;;
    flex:1;
}
.editor-grp{
    display: flex;


    flex-flow: column;

    flex: 2;
}


#page_title {
    width: 100%;
}
#main_content {
    flex:1
}
form{
    height: 100%;
    display: flex;
    flex-direction: column;
}
#main_content > p{
    margin: 10px 6px 0 0;
}

.scroll-content{
    display: flex;
    flex-flow: column;
}

div.input_p{
    display: inline-block;
    vertical-align: top;
}
div.inp_grp{
    margin-top: 10px;
}

.inp_grp{
    margin-bottom: 5px;
}

.banned_btn{
    margin-right: 5px;
}
