{#
 # Sharif Judge
 # file: dashboard.twig
 # author: Mohammad Javad Naderi <mjnaderi@gmail.com>
 #}
{% set selected = '' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-play{% endblock %}
{% block title %}HTML editor{% endblock %}
{% block head_title %}HTML editor{% endblock %}



{% block other_assets %}
<style>
.content-wrapper{
	display: flex;
	flex-direction: column;
}
.container-fluid{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

#main_content{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.edit_wrapper{
	
	flex-grow: 1;
	min-height: 400px;
	/*padding-bottom:20rem;*/
	overflow: auto;
}
</style>
{% endblock %}

{% block body_end %}
<script src="{{ base_url('assets/ckeditor/ckeditor.js') }}" charset="utf-8"></script>
<script type="text/javascript">
function b64EncodeUnicode(str) {
	//this function is shamelessly copied from: https://developer.mozilla.org/en/docs/Web/API/WindowBase64/Base64_encoding_and_decoding
	return btoa(encodeURIComponent(str).replace(/%([0-9A-F]{2})/g, function(match, p1) {
		return String.fromCharCode('0x' + p1);
	}));
}
$(document).ready(function(){
	var file_name ="";

	$("#opendialog").bind("change",function(e){
		// console.log($("#opendialog").val());
		console.log(this.files);

		file_name = this.files[0].name

		if (this.files && this.files[0]){
			var reader = new FileReader();

			reader.onload = function (e) {
				$('#editor').html(e.target.result);
			}

			reader.readAsText(this.files[0]);
		}
	});

	$("#open").click(function(){
		$("#opendialog").click();
	});

	$("#save").mouseover(function(){
		$("#save > a").attr("href", "data:text/html;base64," + b64EncodeUnicode( CKEDITOR.instances.editor.getData() )) ;
		$("#save > a").attr("download", file_name) ;
		console.log($("#save > a"));
	});

});

</script>
{% endblock %}


{% block main_content %}
	<div class="col-12  d-flex flex-column">
			{% for error in errors %}
				<p class="text-danger">{{ error|raw }}</p>
			{% endfor %}
		<div class="row">
			<input type="file" style="display: none;" id="opendialog">

			<a class="btn btn-primary" href="#" id="open"><i class="fa fa-folder-open-o" aria-hidden="true"></i> Open</a>

			<a class="btn btn-primary ml-auto"  download href="#"><i class="fa fa-download" aria-hidden="true"></i></i> Download </a>

		</div>
		<div class="row">
			<div class="edit_wrapper" id="editor" contenteditable="true">
				{{ content | raw }}
			</div>
		</div>
</div>
	</div>
<!-- </div> -->
{% endblock %}  {# main_content #}
